@import './_variables'
    
.button
  border-radius: 8px
  font-weight: 700
  font-family: "Raleway","Arial",sans
  text-transform: uppercase
  font-weight: bold
  font-size: $size-button
  line-height: 20px
  letter-spacing: 0.1em
  padding: 12px $space-small
  font-variant-numeric: lining-nums
  &:hover
    cursor: pointer
  &-primary
    background-color: $sky
    border: $sky solid 3px
    color: $white
    &:hover
      background-color: $ink
      border: $ink solid 3px
    &:active
      transform: translateY(2px)
  &-secondary
    background-color: transparent
    border: $sky solid 3px
    color: $sky
    &:hover
      border: $ink solid 3px
      color: $ink
    &:active
      transform: translateY(2px)