@import './_variables'

.input
  background-color: inherit 
  border: $white 1px solid
  border-radius: $border-radius
  color: $cloud
  height: 50px
  padding-left: $space-small
  &:focus
    border: $sky 1px solid
    outline: none

.select
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $cloud
  border: none
  border-radius: $border-radius
  height: 50px
  padding-left: $space-small
  width: 300px
  color: $blackish
  font-weight: 700
  text-transform: uppercase
  &:hover
    cursor: pointer
  &:after
    background-color: $cloud
    content: ""
  &::-ms-expand
    display: none