@import './_variables'
@import './_buttons'

main
  padding-top: 80px
  .App-home
    max-width: 1240px
    margin: auto
    padding: $space-large
    display: flex
    flex-direction: column
    a
      width: max-content
      @extend .button
      @extend .button-primary
      margin-top: $space-large
      margin-bottom: $space-large
  .App-view
    max-width: 1440px
    padding-right: $space-large
    padding-left: $space-large
    margin: auto
    &__spinner
      display: flex
      flex-direction: row
      justify-content: center
    &__bounce
      width: 50px
      height: 50px
      background: url('../assets/empire-vector.svg') no-repeat center center
      -webkit-background-size: contain
      -moz-background-size: contain
      -o-background-size: contain
      background-size: contain
      margin: 12px
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out
      animation: sk-bounce 2.0s infinite ease-in-out
      &--empire2
        -webkit-animation-delay: -0.6s
        animation-delay: -0.6s
      &--empire3
        -webkit-animation-delay: -1.2s
        animation-delay: -1.2s

@-webkit-keyframes sk-bounce 
  0%, 100%
    -webkit-transform: scale(0.0)
  50%
    -webkit-transform: scale(1.0)

@keyframes sk-bounce
  0%, 100%
    transform: scale(0.0)
    -webkit-transform: scale(0.0)
  50%
    transform: scale(1.0)
    -webkit-transform: scale(1.0)