@import './_variables'
    
.Characters-view
  &__list
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    padding: 0px
  p
    font-weight: 700
    font-size: $size-h2
  &__item
    height: 350px
    width: calc(33.3% - 36px)
    border-radius: $card-radius
    position: relative
    overflow: hidden
    margin-bottom: $space-large
    &:nth-child(3n+2)
      margin-left: $space-large
      margin-right: $space-large
    @include media-max( 1220px )
      width: calc(50% - 27px)
      &:nth-child(3n+2)
        margin-left: 0px
        margin-right: 0px
      &:nth-child(odd)
        margin-right: $space-large
    @include media-max( 830px )
      width: 100%
      &:nth-child(odd)
        margin-right: 0px
    &--name
      position: absolute
      top: 0px
      left: 0px
      opacity: 1
      height: 100%
      width: 100%
      background-image: linear-gradient(rgba(1,1,1, 1), rgba(74, 116, 168, 0.4)), url('../assets/card-standard.jpg')
      background-repeat: no-repeat
      background-size: cover
      display: flex
      justify-content: center
      align-items: center
      opacity: 1
      visibility: visible
      &:hover
        opacity: 0
        visibility: hidden
        transition: visibility 350ms linear, opacity 350ms linear
        ~ .Characters-view__item--infos
          opacity: 1
          visibility: visible
      h2
        width: 260px
        // Pour aligner les chiffres avec les lettre
        // font-variant-numeric: normal || lining-nums
    &--infos
      position: absolute
      top: 0px
      left: 0px
      height: 100%
      width: 100%
      background-image: linear-gradient(rgba(1,1,1, 1), rgba(74, 116, 168, 0.4)), url('../assets/card-hover.jpg') 
      background-repeat: no-repeat
      background-size: cover
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      opacity: 0
      visibility: hidden
      transition: visibility 350ms linear, opacity 350ms linear
      &:hover
        opacity: 1
        visibility: visible
      dl
        dt
          text-align: center
          color: $concrete
        dd
          margin: 0px
          text-align: center
          &:not(:last-child)
            margin-bottom: 12px