@import './_variables'
@import './_inputs'
@import './_buttons'

.App-header
  position: fixed
  top: 0px
  left: 0px
  height: 80px
  width: 100%
  background-color: $blackish
  z-index: 1
  &__menu-bar
    max-width: 1950px
    height: 100%
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
  &__logo
    margin-left: $space-small
    svg path
      transition: 350ms fill
    &:hover svg path
      fill: $sky
      transition: 350ms fill
  &__hamburger
    margin-right: $space-small
    background: transparent
    padding: 0px
    @extend .button
    @extend .button-secondary
    &:hover
      cursor: pointer
      > .menu-toggle
        border-top: $ink solid 4px
        border-bottom: $ink solid 4px
        color: $ink
    .menu-toggle 
      position: relative
      width: 30px
      height: 26px
      border: none
      border-top: 4px solid
      border-bottom: 4px solid
      color: $sky
      font-size: 0
      margin: 9px
      &:before,
      &::after
        content: ""
        display: block
        width: 100%
        height: 4px
        position: absolute
        top: 50%
        left: 50%
        background: currentColor
        -webkit-transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)
        -webkit-transition: -webkit-transform 250ms ease-in-out
        -o-transition: transform 250ms ease-in-out
        transition: -webkit-transform 250ms ease-in-out
        transition: transform 250ms ease-in-out
      &.open
        border-color: transparent
        &:before
          -webkit-transform: translate(-50%, -50%) rotate(45deg)
          -ms-transform: translate(-50%, -50%) rotate(45deg)
          transform: translate(-50%, -50%) rotate(45deg)
        &:after
          -webkit-transform: translate(-50%, -50%) rotate(-45deg)
          -ms-transform: translate(-50%, -50%) rotate(-45deg)
          transform: translate(-50%, -50%) rotate(-45deg)
  &__menu-filter
    visibility: hidden
    padding: $space-large
    padding-top: 120px
    height: 0px
    position: absolute
    top: 0px
    width: 100%
    opacity: 0
    z-index: -2
    -webkit-transition: opacity 0.5s
    -o-transition: opacity 0.5s
    transition: opacity 0.5s
    background-color: $blackish90
    &.open
      visibility: visible
      height: auto
      -webkit-transition: opacity 0.5s
      -o-transition: opacity 0.5s
      transition: opacity 0.5s
      opacity: 1
    &.close
      visibility: visible
      height: auto
    .select-bar
      select
        @extend .select
        margin-bottom: $space-small
        width: calc(33.3% - 16px)
        &:nth-child(3n+2)
          margin-left: $space-small
          margin-right: $space-small
    input
      @extend .input
      &[type=search]
        width: 100%
        margin-bottom: $space-small
    .button-bar
      display: flex
      flex-direction: row
      justify-content: flex-end
      button
        @extend .button
        &.reset
          @extend .button-secondary
          margin-right: $space-small
        &.apply
          @extend .button-primary
          width: 250px
    @include media-max( 1020px )
      .select-bar
        select
          width: calc(50% - 12px)
          &:nth-child(3n+2)
            margin-left: 0px
            margin-right: 0px
          &:nth-child(odd)
            margin-right: $space-small
    @include media-max( 710px )
      .select-bar
        select
          width: 100%
          &:nth-child(odd)
            margin-right: 0px
    @include media-max( 600px )
      .button-bar
        display: flex
        flex-direction: column
        justify-content: center
        button
          &.reset
            margin-right: 0px
            margin-bottom: $space-small
            width: 100%
          &.apply
            width: 100%
