@import './_variables'
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*
  box-sizing: border-box
  color: $white
  font-family: 'Raleway', sans-serif;
  font-weight: 400

body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: $blackish
  background: url('../assets/Background.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

h1,
h2,
h3
  font-weight: 700

h1
  font-size: $size-h1
  font-weight: 700

h2
  font-size: $size-h2
  line-height: 54px
  text-align: center

h3
  font-size: $size-h3

q
  font-size: $size-q

dd,
dt
  font-size: $size-standard

strong
  color: $sky

ul
  padding-left: 0px
 
li
  list-style: none

a
  text-decoration: none

@include media-max( 600px )
  h1
    font-size: $size-h1-mobile
  h2
    font-size: $size-h2-mobile
  h3
    font-size: $size-h3-mobile
  q
    font-size: $size-q-mobile
  dd,
  dt
    font-size: $size-standard-mobile