@import './_variables'
@import './_buttons'

.App-pagination
  margin-bottom: $space-large
  ul
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    li
      margin-left: 6px
      margin-right: 6px
    button
      width: 70px
      text-decoration: none
      @extend .button
      @extend .button-secondary
      &.next,
      &.prev
        @extend .button-primary
    
